@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap');

.embla {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding: 40px;
  background: #eee;
  text-align: center;
  font-size: 24px;
}

.butn_prev {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.butn_next {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.butn_next:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.butn_prev:hover {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
  border: 2px solid #4CAF50;
}