.embla {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.butn_prev,
.butn_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
}

.butn_prev {
  left: 10px;
}

.butn_next {
  right: 10px;
}

.butn_prev:hover,
.butn_next:hover {
  background: #333;
}
